#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@  --buildsystem cmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DUSE_QT5=ON -DBUILD_DESIGNER_PLUGIN=0

override_dh_install:
	dh_install --list-missing --fail-missing
